In [1]:
import pandas as pd
from datetime import date

In [ ]:
# code used to initialize a dataframe.

# dict = {'Date': [],'Player': [],'Wordle':[],'Guesses':[],'Wins':[],'Losses':[], 'Ties': []} 
# df = pd.DataFrame(dict)
# df.to_csv("Wordle/wordle.csv", sep=",", index=False)

In [2]:
df = pd.read_csv("wordle.csv")
df

          Date Player Wordle  Guesses  Wins  Losses  Ties
0   2023-01-27  Jacob  WORRY        3     0       0     1
1   2023-01-27  Grace  WORRY        3     0       0     1
2   2023-01-28  Jacob  FLIRT        3     1       0     0
3   2023-01-28  Grace  FLIRT        4     0       1     0
4   2023-01-29  Jacob  FISHY        4     1       0     0
5   2023-01-29  Grace  FISHY        5     0       1     0
6   2023-01-30  Jacob  CRAVE        3     1       0     0
7   2023-01-30  Grace  CRAVE        4     0       1     0
8   2023-01-31  Jacob  CROSS        4     0       0     1
9   2023-01-31  Grace  CROSS        4     0       0     1
10  2023-02-01  Jacob  SCOLD        2     1       0     0
11  2023-02-01  Grace  SCOLD        3     0       1     0

In [2]:
wordle = input("Today's wordle: ").upper()
if len(wordle) != 5:
    wordle = input("The word must be 5 letters! Today's wordle: ").upper()
    
#grace
try:
    grace_guess = int(input("How many guesses did it take for Grace? "))
except ValueError:
    print('You must enter a number between 1 and 6!')   
    grace_guess = int(input("Let's try this again ;) How many guesses did it take for Grace? "))

#jake    
try:
    jacob_guess = int(input("How many guesses did it take for Jacob? "))
except ValueError:
    print('You must enter a number between 1 and 6!')   
    jacob_guess = int(input("Let's try this again ;) How many guesses did it take for Jacob? "))

Today's wordle: scold
How many guesses did it take for Grace? 3
How many guesses did it take for Jacob? 2

In [3]:
today = date.today()
jwins = 0
gwins = 0
jloss = 0
gloss = 0
jtie = 0
gtie = 0
  
if jacob_guess < grace_guess:
    jwins = 1
    gloss = 1
elif jacob_guess > grace_guess:
    gwins = 1
    jloss = 1
elif jacob_guess == grace_guess:
    jtie = 1
    gtie = 1

df.loc[len(df.index)] = [today,'Jacob',wordle, jacob_guess, jwins, jloss, jtie] 
df.loc[len(df.index)] = [today,'Grace',wordle, grace_guess, gwins, gloss, gtie]


df_wins = df[['Player','Wins']].groupby('Player').sum()

grace_wins = df_wins.iloc[0, 0] 
jacob_wins = df_wins.iloc[1, 0] 

grace_rate = (grace_wins / (len(df)/2))*100 #percentage of wins
jacob_rate = (jacob_wins / (len(df)/2))*100

#ties
ties = df[df.Player == 'Grace'].Ties.sum()   

print(f"Currently, Grace's win rate is {round(grace_rate,2)}% and Jacob's is {round(jacob_rate,2)}%. We've tied {ties} times ({round((ties/(len(df)/2))*100,2)}% of the time)! Nerds.")
df

Currently, Grace's win rate is 0.0% and Jacob's is 60.0%. We've tied 2 times (40.0% of the time)! Nerds.

         Date Player Wordle  Guesses  Wins  Losses  Ties
0  2023-01-27  Jacob  WORRY        3     0       0     1
1  2023-01-27  Grace  WORRY        3     0       0     1
2  2023-01-28  Jacob  FLIRT        3     1       0     0
3  2023-01-28  Grace  FLIRT        4     0       1     0
4  2023-01-30  Jacob  FISHY        3     1       0     0
5  2023-01-30  Grace  FISHY        4     0       1     0
6  2023-01-31  Jacob  CROSS        4     0       0     1
7  2023-01-31  Grace  CROSS        4     0       0     1
8  2023-02-01  Jacob  SCOLD        2     1       0     0
9  2023-02-01  Grace  SCOLD        3     0       1     0

In [4]:
df.to_csv("wordle.csv", sep=",", index=False)